.border-box, a, article, aside, blockquote, body, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], legend, li, main, nav, ol, p, pre, section, table, td, textarea, th, tr, ul {
-webkit-box-sizing: border-box;
            box-sizing: border-box;
}
img {
      max-width: 100%;
      border-style: none;
      vertical-align: middle;
}
.bookImgBox {
      height: 170px;
      width: 120px;
}

.bookDetailContent .bookImgBox {
      height: 150px;
      width: 100px;
}

.bookImgBox img {
      -webkit-box-shadow: -1px 6px 6px 1px rgba(45, 35, 66, 0.25);
                  box-shadow: -1px 6px 6px 1px rgba(45, 35, 66, 0.25);
      border-radius: 5px;
      -o-object-fit: cover;
            object-fit: cover;
      width: 100%;
      max-height: 100%;
}
a {
      color: black;
}
.bookTitle, h1, .bookDetail h5, .bookNav, label, button, .reviews > p:first-child, .reviews .reviewTitle { 
      font-family: 'Source Sans Pro', sans-serif;
      text-transform: capitalize;
}
.bookAuthor, .bookDetail p, time { 
      font-family: 'Crimson', serif;
}
.book-content {
      width: 100%;
      border: 1px solid white;
      background-color: white;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      height: 130px;
}
.bookDetail {
      position: relative;
}
.bookDetail > div:first-child i {
      position: absolute;
      top: -5px;
      left: 40px;
}
.bookDetailContent {
      border: 1px solid white;
      background-color: white;
      border-radius: 10px;
      position: relative;
} 
.bookNav li {
      list-style: none;
      font-size: 1.2rem;
}
.activeNav { 
      border-bottom: 2px solid #FFCB01;
}

@media screen and (min-width: 768px) {

}
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 1200px) {

}
@media screen and (min-width: 1400px) {

}